In [95]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import ast
from datetime import datetime
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import SimpleImputer,IterativeImputer

from sklearn.linear_model import LinearRegression

In [96]:
#Read in csv file
train = pd.read_csv('../Datasets/train.csv')
test = pd.read_csv('../Datasets/test.csv')

In [97]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [86]:
train.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [94]:
[(d['cast_id'],d['name'],(d['gender'])) for d in ast.literal_eval(train['cast'].iloc[12])]

[(6, 'Kevin Spacey', 2),
 (3, 'Annette Bening', 1),
 (5, 'Thora Birch', 1),
 (7, 'Wes Bentley', 2),
 (8, 'Mena Suvari', 1),
 (9, 'Chris Cooper', 2),
 (4, 'Scott Bakula', 2),
 (10, 'Peter Gallagher', 2),
 (11, 'Allison Janney', 1),
 (12, 'Sam Robards', 2),
 (13, 'Barry Del Sherman', 2),
 (29, 'John Cho', 2),
 (117, 'Hal Fort Atkinson', 2),
 (32, 'Kent Faulcon', 2),
 (25, 'Ara Celi', 1),
 (31, 'Sue Casey', 1),
 (33, 'Brenda Wehle', 1),
 (34, 'Lisa Cloud', 1),
 (36, 'Amber Smith', 1),
 (37, 'Joel McCrary', 2),
 (38, 'Marissa Jaret Winokur', 1),
 (39, 'Dennis Anderson', 0),
 (40, 'Matthew Kimbrough', 2),
 (26, 'Erin Cathryn Strubbe', 0),
 (35, 'Alison Faulk', 1),
 (42, 'Krista Goodsitt', 0),
 (43, 'Lily Houtkin', 1),
 (44, 'Carolina Lancaster', 1),
 (45, 'Mona Leah', 1),
 (46, 'Chekesha Van Putten', 1),
 (47, 'Emily Zachary', 1),
 (56, 'Nancy Anderson', 1),
 (48, 'Reshma Gajjar', 1),
 (49, 'Stephanie Rizzo', 1),
 (50, 'Heather Joy Sher', 1),
 (51, 'Chelsea Hertford', 1),
 (52, 'Elaine Corral Kendall', 1),
 (53, 'David C. Fisher', 2),
 (54, 'Tom Miller', 2),
 (118, 'Bruce Cohen', 2)]

In [5]:
train = train.drop(columns = ['belongs_to_collection','homepage', 'imdb_id',
                              'spoken_languages','original_title','overview',
                              'poster_path','status','tagline', 'title',
                              'Keywords','cast', 'crew'])
test = test.drop(columns = ['belongs_to_collection','homepage', 'imdb_id',
                              'spoken_languages','original_title','overview',
                              'poster_path','status','tagline', 'title',
                              'Keywords','cast', 'crew'])

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3000 non-null   int64
 1   budget                3000 non-null   int64
 2   genres                2993 non-null   object
 3   original_language     3000 non-null   object
 4   popularity            3000 non-null   float64
 5   production_companies  2844 non-null   object
 6   production_countries  2945 non-null   object
 7   release_date          3000 non-null   object
 8   runtime               2998 non-null   float64
 9   revenue               3000 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 234.5+ KB

# genres, production_countries, spoken_languages

##### Note for ARjun. You need to deal with missing values before you can run the following functions as is. my suggestion is that u change the functionality of the functions such that they work despite the missing values and also think of the outputs because those are what you will be dummying.

[heres lab 2.07 where you use ohe and make_column_transformer()](https://git.generalassemb.ly/kalymaan/lab-2.07-clustering/blob/main/starter-code.ipynb)

#### converting list of dictionaries which are written as strings into actual lists

In [7]:
big_dict = {'genres': 'name', 
 'production_companies': 'name', 
 'production_countries': 'name'
 #'spoken_languages': 'iso_639_1' # 'name' may be used... compare iso to original language, if same we drop
 # 'Keywords': 'name' 
 #'cast': ['gender','order'], # take the 'gender' from 'order' = 0 ******************
}

##### This is a function for the loop below it

In [8]:
def feature_extractor(l, key_we_want):
    # Input: l is the list we want to extract from.
    #        key_we_want is the key we want lol
    
    return [d[key_we_want] for d in l]

#### This is where we tutrn those crazy columns into things we can work with

In [9]:
for col_name, info_we_want in big_dict.items():
    
    
    
    train[col_name] = train[col_name][train[col_name].notna()].apply(ast.literal_eval) 
    test[col_name] = test[col_name][test[col_name].notna()].apply(ast.literal_eval) 
    
    train[col_name] = train[col_name][train[col_name].notna()].apply(lambda x: feature_extractor(x, info_we_want))
    test[col_name] =test[col_name][test[col_name].notna()].apply(lambda x: feature_extractor(x, info_we_want))

In [10]:
train.head()

,id,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,revenue
0,1,14000000,[Comedy],en,6.575393,"[Paramount Pictures, United Artists, Metro-Gol...",[United States of America],2/20/15,93.0,12314651
1,2,40000000,"[Comedy, Drama, Family, Romance]",en,8.248895,[Walt Disney Pictures],[United States of America],8/6/04,113.0,95149435
2,3,3300000,[Drama],en,64.299990,"[Bold Films, Blumhouse Productions, Right of W...",[United States of America],10/10/14,105.0,13092000
3,4,1200000,"[Thriller, Drama]",hi,3.174936,NaN,[India],3/9/12,122.0,16000000
4,5,0,"[Action, Thriller]",ko,1.148070,NaN,[South Korea],2/5/09,118.0,3923970

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3000 non-null   int64
 1   budget                3000 non-null   int64
 2   genres                2993 non-null   object
 3   original_language     3000 non-null   object
 4   popularity            3000 non-null   float64
 5   production_companies  2844 non-null   object
 6   production_countries  2945 non-null   object
 7   release_date          3000 non-null   object
 8   runtime               2998 non-null   float64
 9   revenue               3000 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 234.5+ KB

# ok turn releasedate into unix

In [12]:
#train['release_date'] = train['release_date'].apply(lambda x: int(datetime.strptime(x, "%m/%d/%y").timestamp()))
#test['release_date'] = test['release_date'].apply(lambda x: int(datetime.strptime(x, "%m/%d/%y").timestamp()))

# dummifying the categorical columns

Will not be dropping first in the following three categorical values because they are all multicategory(not mutually exclusive)

In [22]:
train = pd.read_csv('../Datasets/train_time.csv')
test = pd.read_csv('../Datasets/test_time.csv')

In [23]:
train.drop(columns=['Unnamed: 0'], inplace=True)
test.drop(columns=['Unnamed: 0'], inplace=True)

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3000 non-null   int64
 1   budget                3000 non-null   int64
 2   genres                2993 non-null   object
 3   original_language     3000 non-null   object
 4   popularity            3000 non-null   float64
 5   production_companies  2844 non-null   object
 6   production_countries  2945 non-null   object
 7   release_date          3000 non-null   int64
 8   runtime               2998 non-null   float64
 9   revenue               3000 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 234.5+ KB

In [25]:
train.head()

,id,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,revenue
0,1,14000000,['Comedy'],en,6.575393,"['Paramount Pictures', 'United Artists', 'Metr...",['United States of America'],1424412000,93.0,12314651
1,2,40000000,"['Comedy', 'Drama', 'Family', 'Romance']",en,8.248895,['Walt Disney Pictures'],['United States of America'],1091768400,113.0,95149435
2,3,3300000,['Drama'],en,64.299990,"['Bold Films', 'Blumhouse Productions', 'Right...",['United States of America'],1412917200,105.0,13092000
3,4,1200000,"['Thriller', 'Drama']",hi,3.174936,NaN,['India'],1331272800,122.0,16000000
4,5,0,"['Action', 'Thriller']",ko,1.148070,NaN,['South Korea'],1233813600,118.0,3923970

HAVE TO DO AST AGAIN FOR SOME FUCKIN BULLSHIT REASON

In [28]:
for col_name, info_we_want in big_dict.items():
    
    
    
    train[col_name] = train[col_name][train[col_name].notna()].apply(ast.literal_eval) 
    test[col_name] = test[col_name][test[col_name].notna()].apply(ast.literal_eval)

In [37]:
for i,v in  train['production_countries'][train['production_countries'].notna()].items():
    if len(v) != 1 and v!=np.nan:
        print(f'Index: {i} Value {v}')

Index: 6 Value ['United States of America', 'Canada']
Index: 18 Value ['Austria', 'Germany', 'United Kingdom']
Index: 25 Value ['Japan', 'United States of America']
Index: 27 Value ['Canada', 'Ireland']
Index: 31 Value ['Austria', 'France', 'Germany', 'Italy', 'United States of America']
Index: 33 Value ['United States of America', 'New Zealand', 'Canada', 'Israel', 'Japan']
Index: 36 Value ['Ireland', 'United Kingdom', 'United States of America']
Index: 56 Value ['France', 'Germany']
Index: 57 Value ['United Kingdom', 'United States of America']
Index: 60 Value ['Italy', 'United Kingdom', 'United States of America', 'Czech Republic', 'Germany']
Index: 67 Value ['China', 'France', 'Japan']
Index: 69 Value ['Japan', 'United States of America']
Index: 70 Value ['Germany', 'United States of America']
Index: 71 Value ['Brazil', 'Argentina', 'Chile', 'France', 'Germany', 'Peru', 'United Kingdom', 'United States of America']
Index: 75 Value ['United Kingdom', 'United States of America']
Index: 79 Value ['United Kingdom', 'United States of America']
Index: 80 Value ['Germany', 'United Kingdom', 'United States of America']
Index: 82 Value ['Germany', 'United States of America']
Index: 84 Value ['France', 'United States of America']
Index: 88 Value ['Czech Republic', 'United Kingdom', 'United States of America']
Index: 89 Value ['France', 'United States of America']
Index: 94 Value ['France', 'United States of America']
Index: 108 Value ['United Kingdom', 'United States of America']
Index: 114 Value ['New Zealand', 'United States of America']
Index: 119 Value ['Australia', 'Hong Kong']
Index: 125 Value ['Australia', 'China', 'Germany']
Index: 132 Value ['United States of America', 'United Kingdom', 'Germany', 'Sweden']
Index: 141 Value ['United Kingdom', 'Luxembourg']
Index: 143 Value ['Germany', 'United States of America']
Index: 147 Value ['South Korea', 'France', 'Czech Republic', 'United States of America']
Index: 149 Value ['South Africa', 'United States of America']
Index: 155 Value ['Australia', 'Canada', 'United States of America']
Index: 159 Value ['Japan', 'United States of America']
Index: 174 Value ['Australia', 'United Kingdom']
Index: 175 Value ['Germany', 'United States of America']
Index: 176 Value ['Switzerland', 'United States of America']
Index: 179 Value ['United Kingdom', 'United States of America']
Index: 180 Value ['United States of America', 'Germany']
Index: 181 Value ['Ireland', 'United Kingdom']
Index: 183 Value ['Japan', 'United Kingdom']
Index: 196 Value ['United Kingdom', 'United States of America']
Index: 200 Value ['Germany', 'United States of America']
Index: 201 Value ['United Kingdom', 'United States of America']
Index: 207 Value ['Japan', 'United States of America']
Index: 208 Value ['Canada', 'United Kingdom', 'United States of America']
Index: 209 Value ['United States of America', 'Morocco']
Index: 210 Value ['France', 'United Kingdom', 'Luxembourg', 'Netherlands', 'United States of America']
Index: 219 Value ['France', 'United States of America']
Index: 220 Value ['China', 'Hong Kong']
Index: 223 Value ['France', 'United States of America']
Index: 225 Value ['Australia', 'France', 'United Kingdom', 'United States of America']
Index: 227 Value ['United Kingdom', 'United States of America']
Index: 230 Value ['Germany', 'Ireland', 'United Kingdom', 'United States of America']
Index: 232 Value ['France', 'United Kingdom']
Index: 234 Value ['United Kingdom', 'United States of America']
Index: 241 Value ['India', 'United States of America']
Index: 247 Value ['Austria', 'Germany', 'Italy']
Index: 248 Value ['Australia', 'United States of America']
Index: 251 Value ['France', 'Germany', 'Italy', 'United States of America']
Index: 256 Value ['Iceland', 'United States of America', 'United Kingdom']
Index: 261 Value ['Germany', 'United Kingdom', 'United States of America']
Index: 268 Value ['Germany', 'United Kingdom', 'United States of America']
Index: 285 Value ['Ireland', 'United Kingdom', 'United States of America']
Index: 289 Value ['Ireland', 'United States of America']
Index: 294 Value ['Germany', 'United States of America']
Index: 296 Value ['Germany', 'United States of America']
Index: 305 Value ['United States of America', 'Italy']
Index: 310 Value ['France', 'United States of America', 'Canada']
Index: 311 Value ['Canada', 'France']
Index: 313 Value ['Denmark', 'Sweden', 'United States of America']
Index: 322 Value ['Canada', 'Hong Kong', 'Taiwan', 'United States of America']
Index: 336 Value ['United States of America', 'France']
Index: 337 Value ['Japan', 'South Korea']
Index: 338 Value ['United Kingdom', 'United States of America']
Index: 343 Value ['Australia', 'Taiwan']
Index: 344 Value ['Russia', 'United States of America']
Index: 350 Value ['Hong Kong', 'United States of America']
Index: 351 Value ['United Kingdom', 'United States of America']
Index: 354 Value ['Canada', 'Germany', 'United States of America']
Index: 356 Value ['Germany', 'Spain', 'United Kingdom', 'United States of America']
Index: 359 Value ['United Kingdom', 'New Zealand', 'United States of America']
Index: 360 Value ['Mongolia', 'United States of America', 'United Kingdom']
Index: 363 Value ['France', 'Belgium']
Index: 379 Value ['Canada', 'United Kingdom']
Index: 380 Value ['Germany', 'United States of America']
Index: 381 Value ['France', 'United Kingdom']
Index: 383 Value ['France', 'United Kingdom']
Index: 385 Value ['United Kingdom', 'United States of America', 'France', 'Germany']
Index: 387 Value ['Brazil', 'United States of America']
Index: 392 Value ['France', 'Switzerland']
Index: 397 Value ['United Kingdom', 'United States of America']
Index: 402 Value ['United Kingdom', 'United States of America']
Index: 407 Value ['France', 'United States of America']
Index: 410 Value ['United Kingdom', 'United States of America']
Index: 415 Value ['Germany', 'United States of America']
Index: 420 Value ['Spain', 'United States of America']
Index: 423 Value ['Hungary', 'Serbia', 'Spain', 'United States of America']
Index: 431 Value ['Canada', 'United States of America']
Index: 432 Value ['France', 'United States of America']
Index: 433 Value ['Mexico', 'United States of America']
Index: 437 Value ['France', 'United Kingdom']
Index: 439 Value ['Brazil', 'France']
Index: 444 Value ['Canada', 'France', 'Belgium']
Index: 447 Value ['Australia', 'United States of America']
Index: 448 Value ['Germany', 'United States of America']
Index: 449 Value ['Czech Republic', 'Germany', 'United Kingdom', 'United States of America']
Index: 450 Value ['United Kingdom', 'United States of America']
Index: 453 Value ['Canada', 'United States of America']
Index: 455 Value ['Ireland', 'United Kingdom', 'Denmark']
Index: 458 Value ['Canada', 'United States of America']
Index: 468 Value ['France', 'Australia']
Index: 471 Value ['Germany', 'United States of America']
Index: 473 Value ['Austria', 'Hungary']
Index: 474 Value ['United States of America', 'Russia']
Index: 488 Value ['France', 'United States of America']
Index: 492 Value ['France', 'United States of America']
Index: 500 Value ['France', 'Italy']
Index: 513 Value ['Japan', 'United States of America']
Index: 514 Value ['Romania', 'United States of America']
Index: 520 Value ['Canada', 'United States of America']
Index: 522 Value ['Canada', 'United States of America']
Index: 526 Value ['Hungary', 'United States of America']
Index: 527 Value ['United States of America', 'United Kingdom', 'Germany']
Index: 528 Value ['Germany', 'United States of America']
Index: 534 Value ['Australia', 'United Kingdom', 'United States of America']
Index: 535 Value ['Italy', 'United States of America']
Index: 543 Value ['New Zealand', 'United States of America']
Index: 551 Value ['Mexico', 'South Africa', 'United States of America']
Index: 558 Value ['Germany', 'United Kingdom', 'United States of America']
Index: 572 Value ['United Kingdom', 'United States of America']
Index: 574 Value ['France', 'Ireland', 'United Kingdom', 'United States of America']
Index: 575 Value ['France', 'United Kingdom', 'United States of America']
Index: 577 Value ['Canada', 'France']
Index: 587 Value ['France', 'Australia', 'Canada', 'Germany']
Index: 593 Value ['Greece', 'United States of America']
Index: 599 Value ['United States of America', 'United Arab Emirates']
Index: 606 Value ['China', 'Hong Kong']
Index: 612 Value ['United States of America', 'Spain']
Index: 614 Value ['United Kingdom', 'United States of America']
Index: 619 Value ['Sweden', 'Germany', 'France']
Index: 620 Value ['Canada', 'United States of America']
Index: 621 Value ['Mexico', 'Puerto Rico', 'United States of America']
Index: 622 Value ['United Kingdom', 'United States of America']
Index: 633 Value ['Germany', 'United States of America']
Index: 635 Value ['Germany', 'United States of America']
Index: 641 Value ['Mexico', 'United States of America']
Index: 649 Value ['United Kingdom', 'United States of America']
Index: 650 Value ['United Kingdom', 'United States of America']
Index: 658 Value ['Canada', 'France', 'Germany', 'Italy']
Index: 659 Value ['Finland', 'Germany', 'Australia']
Index: 660 Value ['Germany', 'United Kingdom', 'United States of America']
Index: 661 Value ['Denmark', 'France', 'Italy', 'Sweden', 'Germany']
Index: 666 Value ['New Zealand', 'United States of America']
Index: 667 Value ['Ireland', 'United Kingdom', 'United States of America']
Index: 668 Value ['Ireland', 'United Kingdom']
Index: 676 Value ['United States of America', 'United Kingdom']
Index: 684 Value ['United Kingdom', 'United States of America']
Index: 686 Value ['Cambodia', 'United States of America']
Index: 688 Value ['Italy', 'Germany']
Index: 691 Value ['Germany', 'United States of America']
Index: 696 Value ['United States of America', 'Japan']
Index: 708 Value ['France', 'United States of America']
Index: 710 Value ['Luxembourg', 'United Kingdom', 'France', 'Germany', 'Switzerland']
Index: 715 Value ['United States of America', 'United Arab Emirates']
Index: 717 Value ['France', 'United Kingdom']
Index: 718 Value ['Australia', 'United States of America']
Index: 722 Value ['United Kingdom', 'United States of America']
Index: 730 Value ['France', 'Norway', 'Poland']
Index: 738 Value ['Germany', 'United States of America']
Index: 743 Value ['United Arab Emirates', 'United States of America']
Index: 745 Value ['France', 'United States of America']
Index: 747 Value ['United Kingdom', 'United States of America', 'France']
Index: 750 Value ['Germany', 'United States of America']
Index: 751 Value ['Germany', 'United States of America']
Index: 763 Value ['United States of America', 'Malta']
Index: 765 Value ['Germany', 'United States of America', 'China']
Index: 766 Value ['United Kingdom', 'United States of America']
Index: 768 Value ['Brazil', 'France', 'Greece', 'United States of America']
Index: 769 Value ['Namibia', 'United States of America', 'South Africa']
Index: 776 Value ['Australia', 'United States of America', 'United Kingdom']
Index: 777 Value ['Australia', 'Canada', 'China', 'Hong Kong', 'United States of America']
Index: 779 Value ['France', 'Germany', 'United Kingdom', 'United States of America']
Index: 780 Value ['United States of America', 'Finland']
Index: 786 Value ['Canada', 'United States of America']
Index: 787 Value ['Mexico', 'Belgium', 'Netherlands', 'Germany', 'France']
Index: 789 Value ['China', 'Hong Kong']
Index: 795 Value ['United Kingdom', 'United States of America']
Index: 801 Value ['United Kingdom', 'United States of America', 'Ireland', 'Netherlands', 'France']
Index: 802 Value ['France', 'United States of America']
Index: 804 Value ['Australia', 'United States of America']
Index: 805 Value ['Spain', 'United States of America']
Index: 807 Value ['Bosnia and Herzegovina', 'Turkey']
Index: 809 Value ['Hungary', 'United States of America']
Index: 810 Value ['United Kingdom', 'United States of America']
Index: 813 Value ['United Kingdom', 'United States of America']
Index: 815 Value ['United States of America', 'Canada', 'Germany']
Index: 826 Value ['China', 'Hong Kong']
Index: 831 Value ['France', 'United States of America']
Index: 832 Value ['United Kingdom', 'United States of America']
Index: 835 Value ['United States of America', 'Canada']
Index: 837 Value ['Australia', 'United States of America']
Index: 845 Value ['Italy', 'United States of America']
Index: 850 Value ['United Kingdom', 'Germany', 'United States of America']
Index: 858 Value ['United Kingdom', 'United States of America']
Index: 859 Value ['Canada', 'United States of America']
Index: 863 Value ['United Arab Emirates', 'United States of America']
Index: 865 Value ['Spain', 'United States of America']
Index: 866 Value ['Greece', 'United States of America']
Index: 869 Value ['Czech Republic', 'Germany', 'United Kingdom']
Index: 874 Value ['Spain', 'Canada']
Index: 877 Value ['Canada', 'United States of America']
Index: 880 Value ['Italy', 'Serbia and Montenegro', 'United States of America']
Index: 882 Value ['United Arab Emirates', 'United States of America']
Index: 883 Value ['Canada', 'United States of America']
Index: 885 Value ['United Kingdom', 'United States of America']
Index: 888 Value ['Canada', 'United States of America']
Index: 889 Value ['France', 'United Kingdom']
Index: 894 Value ['Australia', 'United States of America']
Index: 898 Value ['Canada', 'United States of America']
Index: 901 Value ['Cambodia', 'France']
Index: 908 Value ['United States of America', 'Australia']
Index: 912 Value ['China', 'Hong Kong', 'United States of America']
Index: 914 Value ['Czech Republic', 'France', 'United Kingdom']
Index: 923 Value ['Japan', 'United States of America']
Index: 925 Value ['United Kingdom', 'United States of America']
Index: 930 Value ['Canada', 'United States of America']
Index: 935 Value ['Mexico', 'United States of America']
Index: 937 Value ['Hong Kong', 'China']
Index: 942 Value ['United Kingdom', 'United States of America']
Index: 943 Value ['Japan', 'United States of America']
Index: 946 Value ['United Kingdom', 'United States of America', 'France', 'Italy']
Index: 947 Value ['United Kingdom', 'United States of America']
Index: 950 Value ['Spain', 'United Kingdom', 'United States of America']
Index: 953 Value ['Italy', 'Spain', 'United States of America']
Index: 954 Value ['France', 'Italy']
Index: 961 Value ['United Kingdom', 'United States of America']
Index: 963 Value ['France', 'Spain']
Index: 964 Value ['Italy', 'Algeria']
Index: 967 Value ['Australia', 'France']
Index: 968 Value ['United States of America', 'India', 'France']
Index: 975 Value ['United States of America', 'India']
Index: 982 Value ['Argentina', 'France', 'Spain']
Index: 999 Value ['France', 'Italy']
Index: 1000 Value ['United Kingdom', 'United States of America']
Index: 1001 Value ['Denmark', 'United Kingdom', 'South Africa', 'Sweden', 'Belgium']
Index: 1004 Value ['India', 'France', 'Germany']
Index: 1017 Value ['Canada', 'United States of America']
Index: 1018 Value ['China', 'United States of America']
Index: 1019 Value ['United Kingdom', 'United States of America']
Index: 1028 Value ['Australia', 'United Kingdom']
Index: 1031 Value ['Israel', 'France', 'Germany']
Index: 1034 Value ['Italy', 'United Kingdom']
Index: 1037 Value ['United Kingdom', 'United States of America']
Index: 1038 Value ['China', 'United States of America', 'Hong Kong']
Index: 1040 Value ['France', 'Italy', 'Qatar', 'Tunisia']
Index: 1041 Value ['Canada', 'United States of America']
Index: 1043 Value ['United Kingdom', 'United States of America']
Index: 1046 Value ['United States of America', 'United Kingdom']
Index: 1047 Value ['France', 'United Kingdom', 'United States of America']
Index: 1056 Value ['Mexico', 'United States of America']
Index: 1059 Value ['United Kingdom', 'United States of America']
Index: 1060 Value ['France', 'China', 'United Kingdom', 'Italy']
Index: 1063 Value ['United Kingdom', 'United States of America']
Index: 1070 Value ['United Kingdom', 'Luxembourg']
Index: 1071 Value ['China', 'Hong Kong']
Index: 1079 Value ['Italy', 'Belgium', 'France']
Index: 1085 Value ['Spain', 'Italy']
Index: 1088 Value ['Italy', 'Spain']
Index: 1094 Value ['United Kingdom', 'United States of America']
Index: 1095 Value ['United Kingdom', 'United States of America']
Index: 1096 Value ['France', 'United Kingdom']
Index: 1104 Value ['Belgium', 'France']
Index: 1105 Value ['United Kingdom', 'Italy', 'Turkey', 'Portugal']
Index: 1106 Value ['Sweden', 'Russia', 'Norway']
Index: 1107 Value ['United States of America', 'United Kingdom']
Index: 1108 Value ['China', 'Canada', 'United States of America', 'United Kingdom']
Index: 1115 Value ['United Kingdom', 'United States of America']
Index: 1125 Value ['Canada', 'Germany', 'United States of America']
Index: 1127 Value ['United States of America', 'United Kingdom', 'Germany', 'Japan', 'France']
Index: 1131 Value ['Austria', 'Germany']
Index: 1132 Value ['Germany', 'United States of America']
Index: 1135 Value ['Canada', 'France', 'United Kingdom']
Index: 1136 Value ['Japan', 'United States of America']
Index: 1138 Value ['Japan', 'United States of America']
Index: 1147 Value ['United Kingdom', 'United States of America']
Index: 1150 Value ['United Kingdom', 'United States of America']
Index: 1152 Value ['United Kingdom', 'United States of America']
Index: 1154 Value ['Spain', 'United Kingdom', 'Italy', 'United States of America']
Index: 1159 Value ['Canada', 'United States of America']
Index: 1160 Value ['Germany', 'United States of America']
Index: 1164 Value ['United States of America', 'Austria']
Index: 1165 Value ['China', 'Hong Kong']
Index: 1175 Value ['United Kingdom', 'United States of America']
Index: 1181 Value ['Canada', 'United States of America']
Index: 1183 Value ['Italy', 'United Kingdom']
Index: 1186 Value ['Mexico', 'Spain']
Index: 1187 Value ['France', 'Italy']
Index: 1193 Value ['Italy', 'United Kingdom']
Index: 1194 Value ['South Africa', 'Germany', 'United States of America']
Index: 1195 Value ['Spain', 'United Kingdom', 'United States of America', 'France']
Index: 1200 Value ['Hong Kong', 'China']
Index: 1201 Value ['United Kingdom', 'United States of America']
Index: 1203 Value ['France', 'United States of America']
Index: 1206 Value ['Italy', 'Spain']
Index: 1209 Value ['United Kingdom', 'United States of America']
Index: 1211 Value ['France', 'Germany']
Index: 1215 Value ['France', 'United Kingdom']
Index: 1218 Value ['France', 'Spain']
Index: 1224 Value ['United States of America', 'Canada']
Index: 1227 Value ['Italy', 'United States of America']
Index: 1232 Value ['Canada', 'United Kingdom']
Index: 1234 Value ['Germany', 'United States of America']
Index: 1235 Value ['France', 'United States of America']
Index: 1237 Value ['United Kingdom', 'United States of America']
Index: 1243 Value ['United Kingdom', 'United States of America']
Index: 1244 Value ['United States of America', 'France']
Index: 1246 Value ['United Kingdom', 'United States of America']
Index: 1248 Value ['Germany', 'United States of America']
Index: 1249 Value ['Czech Republic', 'Poland', 'Slovenia', 'United States of America']
Index: 1252 Value ['France', 'United States of America']
Index: 1254 Value ['Belgium', 'Luxembourg', 'France']
Index: 1255 Value ['Italy', 'Spain', 'Germany']
Index: 1256 Value ['Germany', 'United States of America']
Index: 1259 Value ['France', 'United States of America']
Index: 1274 Value ['United States of America', 'United Kingdom']
Index: 1276 Value ['Germany', 'United Kingdom']
Index: 1291 Value ['United Kingdom', 'United States of America']
Index: 1292 Value ['Canada', 'United States of America']
Index: 1301 Value ['Canada', 'United States of America']
Index: 1304 Value ['France', 'Japan']
Index: 1306 Value ['France', 'United States of America']
Index: 1308 Value ['Germany', 'United Kingdom', 'United States of America']
Index: 1313 Value ['France', 'Germany']
Index: 1315 Value ['United Kingdom', 'United States of America']

In [47]:
split_index = len(train)
combined_df = pd.concat([train,test],axis=0,ignore_index=True)

In [48]:
combined_df.head()

,id,budget,genres,original_language,popularity,production_companies,production_countries,release_date,runtime,revenue
0,1,14000000,[Comedy],en,6.575393,"[Paramount Pictures, United Artists, Metro-Gol...",[United States of America],1.424412e+09,93.0,12314651.0
1,2,40000000,"[Comedy, Drama, Family, Romance]",en,8.248895,[Walt Disney Pictures],[United States of America],1.091768e+09,113.0,95149435.0
2,3,3300000,[Drama],en,64.299990,"[Bold Films, Blumhouse Productions, Right of W...",[United States of America],1.412917e+09,105.0,13092000.0
3,4,1200000,"[Thriller, Drama]",hi,3.174936,NaN,[India],1.331273e+09,122.0,16000000.0
4,5,0,"[Action, Thriller]",ko,1.148070,NaN,[South Korea],1.233814e+09,118.0,3923970.0

genres

In [49]:
genres_dummies = pd.get_dummies(combined_df['genres'].explode(), prefix='genre')

genres_dummies = genres_dummies.groupby(genres_dummies.index).sum()

combined_df = pd.concat([combined_df,genres_dummies], axis=1)

combined_df.drop('genres', axis=1, inplace=True)

In [50]:
combined_df.head()

,id,budget,original_language,popularity,production_companies,production_countries,release_date,runtime,revenue,genre_Action,...,genre_History,genre_Horror,genre_Music,genre_Mystery,genre_Romance,genre_Science Fiction,genre_TV Movie,genre_Thriller,genre_War,genre_Western
0,1,14000000,en,6.575393,"[Paramount Pictures, United Artists, Metro-Gol...",[United States of America],1.424412e+09,93.0,12314651.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,40000000,en,8.248895,[Walt Disney Pictures],[United States of America],1.091768e+09,113.0,95149435.0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,3300000,en,64.299990,"[Bold Films, Blumhouse Productions, Right of W...",[United States of America],1.412917e+09,105.0,13092000.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1200000,hi,3.174936,NaN,[India],1.331273e+09,122.0,16000000.0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0,ko,1.148070,NaN,[South Korea],1.233814e+09,118.0,3923970.0,1,...,0,0,0,0,0,0,0,1,0,0

production_countries

In [51]:
production_country_dummies = pd.get_dummies(combined_df['production_countries'].explode(), prefix='prod_country')

production_country_dummies = production_country_dummies.groupby(production_country_dummies.index).sum()

combined_df = pd.concat([combined_df,production_country_dummies], axis=1)

combined_df.drop('production_countries', axis=1, inplace=True)

In [52]:
combined_df.head()

,id,budget,original_language,popularity,production_companies,release_date,runtime,revenue,genre_Action,genre_Adventure,...,prod_country_Taiwan,prod_country_Thailand,prod_country_Tunisia,prod_country_Turkey,prod_country_Ukraine,prod_country_United Arab Emirates,prod_country_United Kingdom,prod_country_United States of America,prod_country_Uruguay,prod_country_Venezuela
0,1,14000000,en,6.575393,"[Paramount Pictures, United Artists, Metro-Gol...",1.424412e+09,93.0,12314651.0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,40000000,en,8.248895,[Walt Disney Pictures],1.091768e+09,113.0,95149435.0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,3300000,en,64.299990,"[Bold Films, Blumhouse Productions, Right of W...",1.412917e+09,105.0,13092000.0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,1200000,hi,3.174936,NaN,1.331273e+09,122.0,16000000.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,ko,1.148070,NaN,1.233814e+09,118.0,3923970.0,1,0,...,0,0,0,0,0,0,0,0,0,0

production_company

In [53]:
production_company_dummies = pd.get_dummies(combined_df['production_companies'].explode(), prefix='prod_company')

production_company_dummies = production_company_dummies.groupby(production_company_dummies.index).sum()

combined_df = pd.concat([combined_df,production_company_dummies], axis=1)

combined_df.drop('production_companies', axis=1, inplace=True)

In [55]:
combined_df.head()

,id,budget,original_language,popularity,release_date,runtime,revenue,genre_Action,genre_Adventure,genre_Animation,...,prod_company_Кинокомпания CTB,prod_company_Кинокомпания «Lunapark»,prod_company_Леополис,prod_company_Наше Кино,prod_company_Никола Фильм,prod_company_Реал-Дакота,prod_company_Роскинопрокат,prod_company_СТВ,prod_company_Флагман-Трейд,prod_company_Фокс
0,1,14000000,en,6.575393,1.424412e+09,93.0,12314651.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,40000000,en,8.248895,1.091768e+09,113.0,95149435.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3300000,en,64.299990,1.412917e+09,105.0,13092000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1200000,hi,3.174936,1.331273e+09,122.0,16000000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,ko,1.148070,1.233814e+09,118.0,3923970.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

original_language

In [56]:
dummy = pd.get_dummies(combined_df, columns=['original_language'], drop_first=True)
dummy.head()

,id,budget,popularity,release_date,runtime,revenue,genre_Action,genre_Adventure,genre_Animation,genre_Comedy,...,original_language_sr,original_language_sv,original_language_ta,original_language_te,original_language_th,original_language_tr,original_language_ur,original_language_vi,original_language_xx,original_language_zh
0,1,14000000,6.575393,1.424412e+09,93.0,12314651.0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
1,2,40000000,8.248895,1.091768e+09,113.0,95149435.0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
2,3,3300000,64.299990,1.412917e+09,105.0,13092000.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
3,4,1200000,3.174936,1.331273e+09,122.0,16000000.0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
4,5,0,1.148070,1.233814e+09,118.0,3923970.0,1,0,0,0,...,False,False,False,False,False,False,False,False,False,False

In [59]:
dummy.columns

Index(['id', 'budget', 'popularity', 'release_date', 'runtime', 'revenue',
       'genre_Action', 'genre_Adventure', 'genre_Animation', 'genre_Comedy',
       ...
       'original_language_sr', 'original_language_sv', 'original_language_ta',
       'original_language_te', 'original_language_th', 'original_language_tr',
       'original_language_ur', 'original_language_vi', 'original_language_xx',
       'original_language_zh'],
      dtype='object', length=7254)

Ok splitting the daatafram back into train and test

In [62]:

train_dummified = dummy[:split_index]
test_dummified = dummy[split_index:]

In [63]:
train_dummified.shape

(3000, 7254)

In [67]:
test_dummified.shape

(4398, 7254)

In [65]:
train.shape

(3000, 10)

In [66]:
test.shape

(4398, 9)

In [69]:
test_dummified.drop(columns = ['revenue'], inplace=True)

C:\Users\kalya\AppData\Local\Temp\ipykernel_13688\1266430125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_dummified.drop(columns = ['revenue'], inplace=True)

In [70]:
test_dummified.shape

(4398, 7253)

# changing 0 values to nans in

In [74]:
train_dummified['budget'].replace(0,np.nan, inplace=True)
test_dummified['budget'].replace(0,np.nan, inplace=True)

C:\Users\kalya\AppData\Local\Temp\ipykernel_13688\2355386272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dummified['budget'].replace(0,np.nan, inplace=True)
C:\Users\kalya\AppData\Local\Temp\ipykernel_13688\2355386272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_dummified['budget'].replace(0,np.nan, inplace=True)

# saving semi cleaned data

In [75]:
train_dummified.to_csv('../datasets/BIG_TRAIN.csv',index=False)
test_dummified.to_csv('../datasets/BIG_TEST.csv',index=False)

# Train test

In [73]:
x = train_dummified.drop(columns=['id','revenue'])
y = train_dummified['revenue']

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

NameError: name 'train_test_split' is not defined

# Making a length of title column

In [ ]:
combined_df['length_of_title'] = combined_df['original_title'].str.len()

In [ ]:
combined_df.drop(columns=['original_title'], inplace=True)

In [ ]:
test_dummified = test_dummified.drop(columns=['revenue'])

In [ ]:
test_dummified.shape

In [ ]:
train_dummified.shape

hello